@media (max-width: 425px) {

        .banner h1 {
            font-size: 40px;
        }

        img {
            width: 20px;
            height: auto;
            margin-right: 10px;
            box-shadow: 3px 2px 5px #000;
        }

        .banner {
            text-align: center;
        }



}

@media (max-width: 425px) {
    .banner span {
        padding: 10px;
        font-size: 20px;
    }
    .banner h2 {
        
        padding-left: 10px;
        padding-right: 10px;
}
