body {
    margin: 0;
    padding: 0;
    background-image: url('../images/capa-netflix.jpg');
    background-size: cover;  
    height: ;
   
}
.banner {
    background-color:rgba(0, 0, 0, 0.7);
    position:fixed;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
}
.banner a {
    text-decoration: none;
    color: #ffff ;
    display: block;
    width: 500px;
    height: 50px;
    line-height: 50px;
    border-radius: 20px;
    background-color: rgb(255, 136, 0);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 136, 0);
    height: 50px;
    width: auto;
}
.logo a {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    color: #fff;
    text-decoration: none;
}

main {
  
}
.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.banner h1 {
    font-size: 54px;
    color: #ffff;
}
.banner span {
    font-size: 18px;  
    color: #ffff;
}
.banner h2 {
    color: rgb(255, 136, 0) ;
    font-size: 34px;
}
.banner span {
    font-size: 24px;
    line-height: 40px;
}

img {
    width: 30px;
    height: auto;
    margin-right: 20px;
    box-shadow: 5px 5px 5px #000;
}

footer {
    position:relative;
    top:auto;
    
    background-color: #fff;
}

